#main{
    margin-top: 20px;
    margin-bottom: 20px;
    
    #title{
        margin-left: 5%;
    }

    .data{
        text-align: center;
        font-weight: 500;
    }

    #total{
        text-align: center;
    }
}
